html { height: 100%; height:100%; min-height: 100%; }
body { margin: 0; padding: 0; zoom: 1; background-color: #fff; height: 100%; min-height: 100%; }
h1, h2, p { margin: 0; padding: 0; }
p { -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
.section-bee-jupiter { padding: 200px 0 150px 0; position: relative; min-height: 100%; box-sizing: border-box;}
.section-bee-jupiter .container { max-width: 800px; margin: auto; text-align: left; }
.section-bee-jupiter h2 { font: 5em 'Yeseva One', Georgia, serif; color: #333; width: 100%; text-align: center; letter-spacing: -0.04em; line-height: 1em; display: inline-block; vertical-align: top; margin: 0 0 75px;}
.section-bee-jupiter h2 span { font: 0.67em 'Yeseva One', Georgia, serif; }
.section-bee-jupiter a { text-align: center; color: #333; font: 1.2em 'Merriweather', Times New Roman, serif; font-weight: 400; padding: 40px 0 39px; margin: 0;font-style: italic; text-decoration: none; display: block;}
.text { text-align: justify; font: 300 1em/1.625em 'Merriweather Sans', Helvetica, sans-serif; color: #333; width: 390px; margin: 50px 0px 50px 25px; display: inline-block; vertical-align:top; }
.section-bee-jupiter .avatar { margin-left: 20px; }
.section-bee-jupiter .caption { color: #da3;}
.section-bee-jupiter .caption a { color: #544; font-size: 12px; }
.section-bee-jupiter .caption a:hover { background-color: #fff; }
.section-bee-jupiter .colophon { padding-bottom: 120px; }
.section-bee-jupiter .beesvg { display: block; width: 120px; text-align: center; margin: auto; }
.section-bee-jupiter hr { border-top: 1px dashed #333; border-bottom: none; margin: 0; max-width: 800px; }
.section-bee-jupiter .beewithoutstinger { margin-bottom: 50px; }
.section-bee-jupiter .honeycombsvg { display: block; width: 35px; text-align: center; margin: 20px auto 0 auto; }
img {
  width: 370px;
  margin: 25px 0;
  vertical-align: text-middle;
  display: inline-block;
}
.left {
  display: inline-block;
}
.no-img {
  display: inline-block;
  width: 135px;
  margin: 25px;
}
a {
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
a:hover {
  background: #f9bd4b;
  color: #fff;
}
.bottom, .top {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  background-image: url(bottom.svg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.top {
  position: absolute;
  top: 0;
  background-image: url(top-alt.svg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.bucket {
  position: fixed;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
}
#highlight { font-size: 1em; background: #f9bd4b; text-decoration: none; color: #333; display: inline; padding: 0; }
#highlight:hover { background: #2cbbb6; color: #fff; }
@media (max-width: 800px) {
  .top-title {
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
    margin-top: -15%;
    height: 33%;
    width: 100%;
    display: block;
  }

  .bucket {
    display: none;
  }

  img {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding: 0 50px;
    width: 100%;
    display: block;
  }

  .text {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding: 0 50px;
    width: 100%;
    display: block;
  }
}